.container
{
    border: 2px solid red;
    background-color: aquamarine;
    margin: 35px auto;
    padding: 35px;
    width: 650px;
}

div a   
{
    text-decoration: none;
    color: black;
}

a:hover
{
  color: greenyellow;
  background-color: blue;
  border: 2px solid pink;
}


.btn
{
    background-color: blueviolet;
    padding: 6px;
    border: none;
    cursor: pointer;
    font-size: 13px;
    border-radius: 6px;
      
}

